/*
Created by Sait Tuna Onder on 2017.02.03 
Copyright © 2017 Sait Tuna Onder. All rights reserved.
*/
/* 
    Created on : Feb 3, 2017, 12:47:09 PM
    Author     : Onder
*/

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    position: relative;
    min-height: 100% !important;
    background-color: #FDF5E6 !important;
}

#header {
    background-color: #F0FFFF;   /* Azure */
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #e95051;
}

#editableContent {
    /* Styles applied to the entire editableContent containing element of the site template */
    height: calc(100% - 60px) !important;
}

/*Control Panel Styling*/
#controlPanel{

 /* Styles applied to the entire sidebar containing element of the site template */
    display: inline-block;
    float: left;
    border-right: 2px solid #e95051;
    height: calc(100% - 60px) !important;
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-left: 10px;
}

/*Model Composer Title*/
.controlLabel{
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

/*Model Composer Buttons Styling*/
.panelButton{
    width: 130px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #e95051 !important;
}

.panelButton:hover {
    background-color: grey;
    color: white;
}

/*Start Simulation Div has different styling than other buttons(Green Buttons)*/
#startSimDiv .panelButton{
    background-color: #52D017;
    border: none !important;
}

#trafficLightForm{
    margin-top: 20px; 
}

.trafficLight-label .enterPoint-label {
    padding-right: 10px;
}

/*Traffic Light input fields styling*/
.trafficLight-input{
    display: block;
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
}

/*Enter Point input fields styling*/
.enterPoint-input{
    display: block;
    width: 100px;
    margin-top: 10px;
    margin-right: 20px;
}

/*Fork Settings Styling*/
.fork-label{
    margin-right: 20px;
}

.fork-input{
    display: block;
    width: 100px;
    margin-left: 10px;
}

.simulationCommandsColumn1{
    padding-right: 10px;
}

/* Style error messages text */
.errorMessages {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-style: normal;
    font-weight: normal;
    color: #FF0000; /* Red */
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #006400; /* Dark Green */
}

/* Used Maps */
.previewImage {
    width: auto;
    height: 100px;
}

/* Override PrimeFaces style definitions for the Dialog component */
.ui-dialog, .ui-dialog-content, .ui-dialog-buttonpane {
    color: #800000; /* Maroon */
    background-color: #FDF5E6;   /* OldLace */
}

/* Override PrimeFaces style definition for the fileUpload component */
.ui-fileupload {
    width: 80%;
}

/*Create Project page, File Upload Button Styling*/
.ui-fileupload-buttonbar {
    padding: 0px 0px 8px 0px !important;
}

.ui-fileupload-content {
    /* The drag-and-drop area height will increase as more files are dropped */
    min-height: 200px;
}

/* Style PrimeFaces Command Button --> p:commandButton  */
.commandButton, .ui-confirmdialog-yes, .ui-confirmdialog-no, .ui-fileupload-choose, .ui-fileupload-upload, .ui-fileupload-cancel {
    border-radius: 2em !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10pt !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none;
    color: black;
}

.ui-galleria-filmstrip-wrapper {
    display:none;
}

/*Welcome Page Galleria Image Size*/
.ui-galleria-panel img{
    width: 650px;
    height: 400px;
}

/*Welcome Page Galleria Buttons*/
.ui-galleria-nav-prev, .ui-galleria-nav-next{
    background-color: red;
}

/* This is welcome page GIF displayer component id(PrimeFaces Galleria)*/ 
#j_idt37{
    background-color: #FDF5E6 !important;
    
}

/*Hide Scroll Bar on Web-Kit(Works in Chrome, but not in Firefox)*/
::-webkit-scrollbar {
    display: none;
}