/*
Created by Sait Tuna Onder on 2017.02.03 
Copyright © 2017 Sait Tuna Onder. All rights reserved.
*/
/* 
    Created on : Feb 3, 2017, 12:47:09 PM
    Author     : Onder
*/

html{
    width: 100%;
    height: 100%;
    margin: 0;
/*    Disable Page scrooling*/
/*    overflow: hidden;*/
}

body{
    margin: 0;
    position: relative;
    min-height: 100% !important;
}

#header {
    background-color: #F0FFFF;   /* Azure */
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #e95051;
}

canvas {
    /*  overflow: auto;
      height: calc(100vh - 50px);
      width: 100% !important;*/
    position: absolute;
    left: 300px;
    width: calc(100% - 300px) !important;
}

#editableContent {
    /* Styles applied to the entire editableContent containing element of the site template */
    position:absolute;
    height: calc(100% - 60px) !important;
}

/*Control Panel Styling*/
#controlPanel{

 /* Styles applied to the entire sidebar containing element of the site template */
/*    min-height: 100%;*/
    display: inline-block;
    float: left;
    border-right: 2px solid #e95051;
    width: 300px;
/*    height: 100%;*/
/*    overflow: scroll;*/
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.controlLabel{
    display: block;
    font-size: 20px; 
}

.panelButton{
    width: 130px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #e95051 !important;
}

.panelButton:hover {
    /* Hover style for the aforementioned .btn-custom style class */
    background-color: grey;
    color: white;
}

#startSimDiv{
    position: fixed;
    bottom: 30px;   
}

#startSimDiv .panelButton{
    background-color: #52D017;
    border: none !important;
}

#trafficLightDiv{
    margin-top: 30px;
}

.trafficLight-label {
    /* Style class of the labels in the signup form */
    padding-right: 10px;
}

.trafficLight-input input {
    /* Style class for the inline profile edit inputs */
    display: block;
    width: 120px;
    margin-top: 10px;
}

/* Style error messages text */
.errorMessages {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-style: normal;
    font-weight: normal;
    color: #FF0000; /* Red */
}

/* Style PrimeFaces Command Button --> p:commandButton  */
.commandButton, .ui-confirmdialog-yes, .ui-confirmdialog-no, .ui-fileupload-choose, .ui-fileupload-upload, .ui-fileupload-cancel {
    border-radius: 2em !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10pt !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none;
    color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #006400; /* Dark Green */
}

/* Used Maps */
.previewImage {
    width: auto;
    height: 100px;
}

